#div_float{
  width: 200px;
  height: 100px;
  background: yellow;
  float: left;
}
#div_block1{
  width: 200px;
  height: 100px;
  background: red;
  float: right;

}
#div_block2{
  width: 200px;
  height: 100px;
  background: orange;
  clear: both;
  float: right;
}
