/* body{
  background-image: url(./media/background.jpg);
  background-repeat: no-repeat;

  background-color: green;
}
div{
    margin-left: 200px;
    margin-top: 150px;
  background-color: yellow;
  border: 6px dotted red;
} */
td.td_number{
  color: red;
  border-right-style: solid;
  border-width: 1px;
  border-color: gray;
  padding: 10px;

}
td.td_text{
  color: blue;
  padding: 10px;
}
tr.tr_id{
  padding: 5px;
}
