ul li {
  display: inline;
  letter-spacing: 5px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  border-top: 3px dotted red;
  border-bottom: 3px dotted red;
  text-align: center;
  padding: 10px;
}

ul>li>a {
  color: black;
  text-decoration: none;
}

ul>li>a:hover {
  color: red;
  font-size: 30px;
}

table, td, th {
  border: 1px solid green;
  color: black;
}

table {
  width: 50%;
  text-align: center;
  margin: auto;
}

th {
  background-color: green;
  color: white;
}
caption{
  caption-side: bottom;
  font-weight: bold
}
